@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
}

@layer base {
	* {
		@apply text-white;
	}
	h2 {
		@apply text-4xl;
	}
}

.username {
	font-family: 'Kanit', sans-serif;
}

.balance {
	font-family: 'Martian Mono', monospace;
}
.numbers {
	font-family: 'Martian Mono', monospace;
}

.blue-circle {
	animation-delay: 0.1s;
}
.green-circle {
	animation-delay: 0.2s;
}
.red-circle {
	animation-delay: 0.3s;
}
